In [12]:
import pandas as pd
import datapackage
from pathlib import Path


spotify_top_load = Path("Resources/universal_top_spotify_songs.csv")

# Read Universal_Top_Spotify_songs.csv
spotify_top = pd.read_csv(spotify_top_load)

# Import List of country codes
data_url = 'https://datahub.io/core/country-list/datapackage.json'

# to load Data Package into storage
package = datapackage.Package(data_url)

# to load only tabular data
resources = package.resources
for resource in resources:
    if resource.tabular:
        data = pd.read_csv(resource.descriptor['path'])
        print (data)

                  Name Code
0          Afghanistan   AF
1        Åland Islands   AX
2              Albania   AL
3              Algeria   DZ
4       American Samoa   AS
..                 ...  ...
244  Wallis and Futuna   WF
245     Western Sahara   EH
246              Yemen   YE
247             Zambia   ZM
248           Zimbabwe   ZW

[249 rows x 2 columns]
                  Name Code
0          Afghanistan   AF
1        Åland Islands   AX
2              Albania   AL
3              Algeria   DZ
4       American Samoa   AS
..                 ...  ...
244  Wallis and Futuna   WF
245     Western Sahara   EH
246              Yemen   YE
247             Zambia   ZM
248           Zimbabwe   ZW

[249 rows x 2 columns]

In [11]:
data = data.rename(columns={"Code":"country"})
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 249 entries, 0 to 248
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Name     249 non-null    object
 1   country  248 non-null    object
dtypes: object(2)
memory usage: 4.0+ KB

In [3]:
spotify_top_complete = pd.merge(data,spotify_top, on="country")
spotify_top_complete.head()

,Name,country,spotify_id,name,artists,daily_rank,daily_movement,weekly_movement,snapshot_date,popularity,...,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature
0,Argentina,AR,0Me3GyNuLOa1YTIxhJPyCn,ASI ES LA VIDA,"Enrique Iglesias, Maria Becerra",50,0,0,2023-10-24,81,...,3,-3.513,0,0.0556,0.6880,0.000002,0.1070,0.963,128.044,4
1,Argentina,AR,5FWQLEX0lavdxiWGBNkBQ4,Me Enteré,"Tiago PZK, TINI",49,0,1,2023-10-24,81,...,8,-3.814,1,0.1080,0.1210,0.000001,0.3140,0.612,140.978,3
2,Argentina,AR,4zYHsmc2V9RyR8eOA0mlx6,Penas de Antaño,"Bizarrap, Milo j",48,0,2,2023-10-24,83,...,7,-6.296,1,0.0933,0.6880,0.000104,0.2710,0.368,140.051,4
3,Argentina,AR,7BVMtLpd7edHeOizt4RWz9,Frágil,"Yahritza Y Su Esencia, Grupo Frontera",47,0,3,2023-10-24,79,...,6,-4.515,1,0.0309,0.3650,0.000000,0.1120,0.393,149.918,4
4,Argentina,AR,7w7BrPbOjF5OxChs2dxFve,En La Intimidad | CROSSOVER #1,"Big One, Emilia, Callejero Fino",46,0,4,2023-10-24,81,...,1,-4.991,1,0.1070,0.0924,0.000000,0.0699,0.640,89.946,4

In [4]:
spotify_top.head()

,spotify_id,name,artists,daily_rank,daily_movement,weekly_movement,country,snapshot_date,popularity,is_explicit,...,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature
0,3LmvfNUQtglbTrydsdIqFU,We Belong Together,Mariah Carey,50,0,0,ZA,2023-10-24,73,False,...,0,-7.890,1,0.0601,0.0339,0.000000,0.090,0.762,139.986,4
1,0JXXNGljqupsJaZsgSbMZV,Sure Thing,Miguel,49,0,1,ZA,2023-10-24,90,False,...,11,-8.127,0,0.1000,0.0267,0.000307,0.191,0.498,81.001,4
2,6HmiaxYKrzq3sU2M0eFDg2,BETTER NOW,A-Reece,48,0,2,ZA,2023-10-24,50,True,...,1,-7.524,1,0.1660,0.1300,0.000031,0.121,0.725,83.001,4
3,4rXLjWdF2ZZpXCVTfWcshS,fukumean,Gunna,47,0,3,ZA,2023-10-24,96,True,...,1,-6.747,0,0.0903,0.1190,0.000000,0.285,0.220,130.001,4
4,4iZ4pt7kvcaH6Yo8UoZ4s2,Snooze,SZA,46,0,4,ZA,2023-10-24,92,True,...,5,-7.231,1,0.1320,0.1410,0.000000,0.110,0.392,143.008,4

In [15]:
spotify_top.shape

(25473, 25)

In [10]:
#spotify_top_complete_v1 = spotify_top_complete[spotify_top_complete['country'].notna()]
spotify_top_complete_v1 = spotify_top_complete.dropna(subset=['country','name'])
spotify_top_complete_v1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 25122 entries, 0 to 25472
Data columns (total 26 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Name                25122 non-null  object
 1   country             25122 non-null  object
 2   spotify_id          25122 non-null  object
 3   name                25122 non-null  object
 4   artists             25122 non-null  object
 5   daily_rank          25122 non-null  int64
 6   daily_movement      25122 non-null  int64
 7   weekly_movement     25122 non-null  int64
 8   snapshot_date       25122 non-null  object
 9   popularity          25122 non-null  int64
 10  is_explicit         25122 non-null  bool
 11  duration_ms         25122 non-null  int64
 12  album_name          25122 non-null  object
 13  album_release_date  25122 non-null  object
 14  danceability        25122 non-null  float64
 15  energy              25122 non-null  float64
 16  key                 25122 non-null  int64
 17  loudness            25122 non-null  float64
 18  mode                25122 non-null  int64
 19  speechiness         25122 non-null  float64
 20  acousticness        25122 non-null  float64
 21  instrumentalness    25122 non-null  float64
 22  liveness            25122 non-null  float64
 23  valence             25122 non-null  float64
 24  tempo               25122 non-null  float64
 25  time_signature      25122 non-null  int64
dtypes: bool(1), float64(9), int64(8), object(8)
memory usage: 5.0+ MB

In [17]:
spotify_top_complete_v2 = spotify_top_complete_v1.loc[spotify_top_complete_v1['snapshot_date'] == '2023-10-24']
spotify_top_complete_v2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3577 entries, 0 to 25172
Data columns (total 26 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Name                3577 non-null   object
 1   country             3577 non-null   object
 2   spotify_id          3577 non-null   object
 3   name                3577 non-null   object
 4   artists             3577 non-null   object
 5   daily_rank          3577 non-null   int64
 6   daily_movement      3577 non-null   int64
 7   weekly_movement     3577 non-null   int64
 8   snapshot_date       3577 non-null   object
 9   popularity          3577 non-null   int64
 10  is_explicit         3577 non-null   bool
 11  duration_ms         3577 non-null   int64
 12  album_name          3577 non-null   object
 13  album_release_date  3577 non-null   object
 14  danceability        3577 non-null   float64
 15  energy              3577 non-null   float64
 16  key                 3577 non-null   int64
 17  loudness            3577 non-null   float64
 18  mode                3577 non-null   int64
 19  speechiness         3577 non-null   float64
 20  acousticness        3577 non-null   float64
 21  instrumentalness    3577 non-null   float64
 22  liveness            3577 non-null   float64
 23  valence             3577 non-null   float64
 24  tempo               3577 non-null   float64
 25  time_signature      3577 non-null   int64
dtypes: bool(1), float64(9), int64(8), object(8)
memory usage: 730.1+ KB

In [22]:

countries = ['MX','US']
spotify_top_complete_v3 =  spotify_top_complete_v2[spotify_top_complete_v2['country'].isin(countries)]
spotify_top_complete_v3

,Name,country,spotify_id,name,artists,daily_rank,daily_movement,weekly_movement,snapshot_date,popularity,...,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature
13923,Mexico,MX,1AZbs0L3SkXe625DKp37KQ,Julietota,LATIN MAFIA,50,0,0,2023-10-24,85,...,5,-3.262,0,0.1990,0.2830,0.000126,0.0972,0.302,82.944,4
13924,Mexico,MX,4qSEvFGCpde73gqIuq3sho,HIBIKI,"Bad Bunny, Mora",49,0,1,2023-10-24,91,...,6,-5.605,0,0.0706,0.6040,0.000000,0.1180,0.528,119.935,4
13925,Mexico,MX,3NhstUmrlhaN1M6hP8zMbb,BABY NUEVA,Bad Bunny,48,0,2,2023-10-24,89,...,10,-4.816,0,0.0616,0.5040,0.000505,0.3280,0.359,117.924,4
13926,Mexico,MX,179TZwPk0txEvjkraVTVKo,El Precio De La Soledad,Alfredo Olivas,47,0,3,2023-10-24,82,...,10,-3.665,1,0.1800,0.1290,0.000003,0.0840,0.909,95.426,4
13927,Mexico,MX,6XSqqQIy7Lm7SnwxS4NrGx,Classy 101,"Feid, Young Miko",46,0,4,2023-10-24,93,...,11,-4.790,1,0.1590,0.1450,0.000000,0.1200,0.672,100.065,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24118,United States,US,4KULAymBBJcPRpk1yO4dOG,I Remember Everything (feat. Kacey Musgraves),"Zach Bryan, Kacey Musgraves",5,0,45,2023-10-24,94,...,0,-7.746,1,0.0459,0.5540,0.000002,0.1020,0.155,77.639,4
24119,United States,US,4MjDJD8cW7iVeWInc2Bdyj,MONACO,Bad Bunny,4,0,46,2023-10-24,95,...,4,-5.009,0,0.0680,0.1500,0.000402,0.5800,0.130,139.056,4
24120,United States,US,56y1jOTK0XSvJzVv9vHQBK,Paint The Town Red,Doja Cat,3,0,47,2023-10-24,88,...,2,-7.683,0,0.1940,0.2550,0.000004,0.1120,0.726,99.974,4
24121,United States,US,1BxfuPKGuaTgP7aM0Bbdwr,Cruel Summer,Taylor Swift,2,0,48,2023-10-24,100,...,9,-5.707,1,0.1570,0.1170,0.000021,0.1050,0.564,169.994,4
24122,United States,US,2YSzYUF3jWqb9YP9VXmpjE,IDGAF (feat. Yeat),"Drake, Yeat",1,0,49,2023-10-24,93,...,8,-8.399,1,0.2710,0.0464,0.000089,0.2050,0.138,136.952,4

In [23]:
spotify_top_complete_v2['Name'].unique()

array(['Argentina', 'Australia', 'Austria', 'Belarus', 'Belgium',
       'Bolivia, Plurinational State of', 'Brazil', 'Bulgaria', 'Canada',
       'Chile', 'Colombia', 'Costa Rica', 'Czech Republic', 'Denmark',
       'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Estonia',
       'Finland', 'France', 'Germany', 'Greece', 'Guatemala', 'Honduras',
       'Hong Kong', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Ireland',
       'Israel', 'Italy', 'Japan', 'Kazakhstan', 'Korea, Republic of',
       'Latvia', 'Lithuania', 'Luxembourg', 'Malaysia', 'Mexico',
       'Morocco', 'Netherlands', 'New Zealand', 'Nicaragua', 'Nigeria',
       'Norway', 'Pakistan', 'Panama', 'Paraguay', 'Peru', 'Philippines',
       'Poland', 'Portugal', 'Romania', 'Saudi Arabia', 'Singapore',
       'Slovakia', 'South Africa', 'Spain', 'Sweden', 'Switzerland',
       'Taiwan, Province of China', 'Thailand', 'Turkey', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Uruguay', 'Venezuela, Bolivarian Republic of', 'Viet Nam'],
      dtype=object)

In [ ]:
# Asia =  Korea, Republic of , Taiwan , Singapore
# LatinAmerica = Mexico , Colombia , Chile
# Europa = France, United Kingdom ,  Romania
# North America = United States , Canada